            body {
                font-family: "Courier", monospace;
                background-color: white;
            }
            div {
                border-bottom: dashed 1.2px black;
                padding: 1em;
                margin: 2em;        
            }
            
            h1 {
                color: rgb(100, 100, 200);
                font-weight: bold;
            }
            
            p {
                font-size: 15px;
                /* font-style: italic; */
                color: rgb(70, 100, 210);
            }
            .post-time {
                font-size: 12px;
                font-style: italic;
            }
